<div class="form-container">
  <h2>Add Book</h2>
  <form (ngSubmit)="onAddBook($event)" #bookForm="ngForm">
    <div class="form-group">
      <label for="title">Title<span class="required-mark">*</span></label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="book.title" required placeholder="Book Title (Maximum 30 characters)"
        #title="ngModel" maxlength="30">
      <div *ngIf="bookForm.submitted && title.invalid">
        <p class="text-danger" *ngIf="title.errors.required">
          Title is required.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="category">Category<span class="required-mark">*</span></label>
      <select type="text" class="form-control" id="category" name="category" [(ngModel)]="book.category" required
        #category>
        <option *ngFor="let category of categories; let i = index" [value]="category.id">{{category.name}}</option>
      </select>
      <div *ngIf="bookForm.submitted && category.invalid">
        <p class="text-danger" *ngIf="category.errors.required">
          Category is required.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description<span class="required-mark">*</span></label>
      <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="book.description"
        required #description="ngModel"></textarea>
      <div *ngIf="bookForm.submitted && description.invalid">
        <p class="text-danger" *ngIf="description.errors.required">
          Description is required.
        </p>
      </div>
    </div>
    <div class="btn-wrapper text-right">
      <button class="btn btn-primary" type="submit">Add</button>
    </div>
  </form>
</div>